<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="AircraftCapacity" value ="20" />
		<add key ="coding-assignment-orders" value ="../../../coding-assigment-orders.json"/>
		<add key ="flightschedule" value ="../../../flightschedule.txt"/>
	</appSettings>
</configuration>